### Animal Crackers: write a function that takes two ord string and check if they start with same letter

In [48]:
st = "print only the words that start with s in this sentence"

new_st = list(st.split())

In [51]:
new_st

['print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [22]:
for x in new_st:
    if x[0] == "s":
        print(x)

start
s
sentence

### Creating a list of even and odd numbers

In [23]:
mylist =[x for x in range(0,10) if x % 2 ==0]

In [24]:
mylist

[0, 2, 4, 6, 8]

In [27]:
num_div_by_3 = [y for y in range(1,50) if y % 3 ==0]

In [28]:
num_div_by_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### write a code to check for odds and even words in a sentence and the nums of letters in the word

In [34]:
st = "print only the words that start with s in this sentence"
t =st.split()

In [55]:
for x in t:
    if len(x) % 2 ==0:
        print(f" the word {x} is an even num with" + " " +str(len(x) )+ " " + "letters \n")
    else:
        
        print(f" the word {x} is an odd num with"  + " " +str(len(x) )+ " " + "letters")

 the word print is an odd num with 5 letters
 the word only is an even num with 4 letters
 the word the is an odd num with 3 letters
 the word words is an odd num with 5 letters
 the word that is an even num with 4 letters
 the word start is an odd num with 5 letters
 the word with is an even num with 4 letters
 the word s is an odd num with 1 letters
 the word in is an even num with 2 letters
 the word this is an even num with 4 letters
 the word sentence is an even num with 8 letters

### write a code to check for even and odd numbers
    and print 'n' fizz if divisible by 3 or buzz if divisble by 5 or fizzbuzz if divisible by  both 3 and 5

In [35]:
import random as rn
def even_odd(num):
    for n in num:
        if n % 3 ==0:
              return(f"{n} Fizz")
        elif n % 5 ==0:
            print( f"{n} Buzz")
        elif n % 3 == 0 and n%5 ==0:
            return ("FizzBuzz")
even_odd([6,5])

'6 Fizz'

### Write a code to create a list of the first letters of every word in a sentence

In [38]:
st = "FREE audio stories for kids including fairytales original stories myths poems music history and audiobooks all read beautifully by professional"

In [39]:
new_st = st.split()

In [40]:
new_st

['FREE',
 'audio',
 'stories',
 'for',
 'kids',
 'including',
 'fairytales',
 'original',
 'stories',
 'myths',
 'poems',
 'music',
 'history',
 'and',
 'audiobooks',
 'all',
 'read',
 'beautifully',
 'by',
 'professional']

In [41]:
mylist = []
for x in new_st:
    mylist.append(x[0])

In [42]:
mylist

['F',
 'a',
 's',
 'f',
 'k',
 'i',
 'f',
 'o',
 's',
 'm',
 'p',
 'm',
 'h',
 'a',
 'a',
 'a',
 'r',
 'b',
 'b',
 'p']

### Binary of a number

In [75]:
bin(30)

'0b11110'

In [44]:
format(30, "b")

'11110'

In [78]:
format(14, "b")

'1110'

In [81]:
f"{14:#b}"

'0b1110'

In [82]:
f"{14:b}"

'1110'

# Defining a function that returns a name

In [98]:
def name_na(name):
    return 'hello ' + name

In [99]:
name_na("ola")

'hello ola'

### define a function that returns the additions of two numbers

In [101]:
def add(n1,n2):
    return n1+n2
add(2,4)

6

### Pig_latin game

In [36]:
def pig_latin():
    word = str(input("Enter a string"))
    wordlist =[]
    y = "aeiou"
    if word[0] in y:
        wordlist.append(word+"ay")
    elif word[0] !=y :
        wordlist.append(word[1:]+"ay")
    else:
        return "this code won't run"
    return wordlist

In [37]:
pig_latin()

Enter a stringazeez

['azeezay']

# Lesser of two even

In [6]:
def lesser_two_even(a,b):
    if a % 2== 0 and b % 2 ==0:
        return min(a,b)
    elif a % 2 !=0 or b%2 !=0:
        return max(a,b)

In [8]:
lesser_two_even(4,7)

7